html body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url('images/engin-akyurt-3ihnKT5apmg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.8s ease; 
    color: white;
}

body.clear {
    background-image: url('');
}

body.rain {
    background-image: url('');
}

body.drizzle {
    background-image: url('');
}

body.clouds {
    background-image: url('');
}