html body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url('images/engin-akyurt-3ihnKT5apmg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.8s ease; 
    color: white;
}

/* Sfondi dinamici */
body.clear {
    background-image: url('images/engin-akyurt-3ihnKT5apmg-unsplash.jpg');
}

body.rain {
    background-image: url('images/alexey-sabulevskiy-tl8GM4dWXnM-unsplash.jpg');
}

body.clouds {
    background-image: url('images/valery-rabchenyuk-OP1kmMw1wSQ-unsplash.jpg');
}